body,
html {
  max-width: 100%;
  margin: 0%
  background: #f5f5f5;
  box-sizing: border-box
}

/*NAVIGATION MENU*/
.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  margin: 0 auto;
  height: 8vh;
  list-style: none;
}

.menu li {
  width: 100%;
  height: 50%;
  text-align: center;
}

.menu a {
  position: relative;
  font-family: Montserrat;
  font-size: 16px;
  color: #1a192e;
  text-decoration: none;
}

/*NAV MENU ANIMATION*/
.menu a::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  top: 100%;
  left: 0;
  background: #1a192e;
  transition: transform 0.5s;
  transform: scaleX(0);
  transform-origin: left;
}

.menu a:hover::after {
  transform: scaleX(1);
}

/*FITS IMAGES TO VIEWPORT*/
.banner img {
  max-width: 100%;
  height: auto;
}

/*CONTAINS ELEMENTS IN CENTER*/
.box {
  width: 40em;
  height: 100%;
  border: 0em solid black;
  margin: 0em auto;
  positon: relative;

  h1 {
    text-align: left;
    margin: auto;
  }

  p {
    text-align: left;
    margin: auto;
    line-height: 1.5em;
  }
}

/*TIMELINE*/
.container{
  color: #1a192e;
  max-width: 1224px;
	height: 100%;
	text-align: left;
	margin: 0 auto;
	padding: 2em;
	position: relative;
}

.main-title{
	color: #1a192e;
	font-size: 1.5em;
	margin-bottom: .3em;
  font-family: Montserrat;
}

 .timeline {
	  position: relative;
	  width: auto;
	  margin: 0 auto;
	  margin-top: 5em;
    padding-bottom: 2em;
    padding-left: 0;
	}

/*VERTICAL LINE*/
	.timeline:before {
	  position: absolute;
	  left: 30%;
	  top: 0;
	  content: ' ';
	  display: block;
	  width: 4px;
	  height: 100%;
	  margin-left: 0;
	  background: #cfb1f0;
	  z-index: 5;
	}


	.dir-l, .dir-r{
		position: relative;
		width: 60%;
		margin-top: 0;
		margin-bottom: 1.5em;
	}

.timeline p{
  font-size: 1.2em;
  line-height: 1.5em;
  font-family: Source Sans Pro;
}

.timeline-icon{
	position: absolute;
	width: 0.1em;
	height: 0.1em;
	right: 10;
	border-radius: 50%;
	z-index: 5;
}

.timeline a{
	color: #38666a;
	margin-left: .3em;
}

	.dir-r{ float: right; }

/* PURPLE DOTS*/
	.timeline-icon{
		position: absolute;
		top: -.2em;
		width: 20px;
		height: 20px;
    margin-left: 28.5%;
	}

	.timeline-blocks{
		display: block;
		height: auto;
		padding: 1em 0;
		position: relative;
		overflow: hidden;
	}

	.timeline-blocks .date-l, .timeline-blocks .date-r{
		position: absolute;
		top: 1em;
		right: 85%;
		font-size: 1em;
    font-family: Montserrat
	}
