body,
html {
  max-width: 100%;
  margin: 0%!important;
  box-sizing: border-box;
  background: #f5f5f5;
}

/*NAVIGATION MENU*/
.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 4em;
  list-style: none;
  z-index: 1;

  overflow-x= auto;
  background-color: #f5f5f5;
  position: fixed;
  top:0;
  width: 100%;
}

.menu li {
  width: 100%;
  height: 40%;
  text-align: left;
}

.menu a {
  position: relative;
  font-family: "Montserrat";
  font-size: 1.2em;
  color: #313847;
  text-decoration: none;
}

/*NAV MENU ANIMATION*/
.menu a::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  top: 100%;
  left: 0;
  background: #313847;
  transition: transform 0.5s;
  transform: scaleX(0);
  transform-origin: left;
}

.menu a:hover::after {
  transform: scaleX(1);
}

/*FITS BANNER TO VIEWPORT*/
.banner img {
  max-width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

/*CONTAINS ELEMENTS IN CENTER*/
.box {
  width: 40em;
  height: 100%;
  border: 0em solid black;
  margin: 0em auto;
  positon: relative;

  h1 {
    text-align: left;
    margin-top: 0;
  }

  p {
    text-align: left;
    margin: auto;
  }
}

/*TIMELINE*/
/* (A) "SET" THE TIMELINE CONTAINER */
.altTL, div.altEV { box-sizing: border-box; }
.altTL {
  /* (A1) RELATIVE POSITION IS NECESSARY... */
  position: relative;
  /* (A2) WIDTH RESTRICTION & CENTER ON PAGE */
  max-width: 620px;
  margin-top: 5em;
  margin-bottom: 3em;
}

/* (B) USE ::BEFORE TO DRAW VERTICAL TIMELINE */
.altTL::before {
  /* (B1) DRAW THE VERTICAL TIMELIME */
  content: '';
  width: 3px;
  background-color: #595870;
  /* (B2) SET IN MIDDLE OF CONTAINER */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
}

/* (C) STYLES FOR EVENTS */
div.altEV {
  position: relative;
  left: 0; /* DEFAULT TO LEFT, USE .RIGHT BELOW TO PLACE EVENT ON THE RIGHT */
  padding: 20px 30px;
  width: 45%;
  background-color: #e3e3e3;
  border-radius: 6px;
  margin-bottom: 10px;
}
div.right { left: 55%; }

/* (D) STYLES FOR THE DATE & TEXT */
strong.edate {
  font-family: "Montserrat";
  font-size: 1.3em;
  color: #313847;
}
p.etxt {
  font-family: "Source Sans pro";
  font-size: 1.2em;
  margin: 10px 0 0 0;
  color: #222;
}

/* (E) ADD "SPEECH BUBBLE TRIANGLE" TO THE EVENTS */
div.altEV::before {
  content: '';
  border: 10px solid transparent;
  border-left-color: #e3e3e3;
  border-right: 0;
  position: absolute;
  left: 100%;
  top: 30%;
}
div.altEV.right::before {
  content: '';
  border: 10px solid transparent;
  border-right-color: #e3e3e3;
  border-left: 0;
  position: absolute;
  left: auto;
  right: 100%;
  top: 30%;
}

/* (F) ADD A CIRCLE ON THE TIMELINE TO INDICATE AN EVENT */
div.altEV::after {
  content: '';
  background: #595870;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  position: absolute;
  top: 20%;
  left: 109%;
}
div.altEV.right::after {
  content: '';
  background: #595870;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  position: absolute;
  top: 20%;
  left: auto;
  right: 107%;
}

/*VIDEO*/
.iframe-container{
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
}
.iframe-container iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*ALBUM TABLE*/
.album-container {
  display: flex;
  margin: 5%;
  overflow-x: auto;
}

.album {
  margin: 20px;
}

table {
  border-collapse: separate;
  border-spacing: 0 15px;
}

th {
  width: 50px;
  text-align: left;
  border: 0px solid black;
  padding: 5px;
}

td {
  width: 400px;
  text-align: left;
  border: 0px solid black;
  padding: 5px;
}

.aka  {
    color: #ababab;
    font-size: 3.5vh;
}

figure {
    margin: 0;
}
